
.favorites {
  position: fixed;
  top: 0;
  left: 870px;
  width: 30%;
  z-index: 100; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  padding: 5px 0; 
}

.favorites form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: auto;
}

.favorites input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: transparent; 
  color: #333;
}

.favorites input[type="text"]::placeholder {
  color: #ffffff; 
}

.favorites button {
  background-color: #173553;
  color: #ffffff;
  border: none;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.favorites button:hover {
  background-color: #0d1f31;
}

.favorites ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}

.favorites li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.favorites h4 {
  margin: 0;
  font-weight: bold;
}